---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Blog";
const posts = await Astro.glob("./posts/*.mdx");
---

<Layout title={pageTitle}>
  <main class="mt-20">
    <h1 class="text-5xl font-bold">Blog</h1>
    <p class="text-neutral-400 text-xl mt-5">
      For some reason most of great developers have blog. I am not one of them
      but why not?
    </p>
    <h2 class="mt-10 text-4xl font-semibold">All posts</h2>
    <ul class="mt-5">
      {
        posts.map((post) => (
          <li class="mb-10">
            <a href={post.url}>
              <h3 class="font-bold text-2xl">{post.frontmatter.title}</h3>
              <p class="text-neutral-400 mt-2">{post.frontmatter.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
