---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Blog";
const posts = await Astro.glob("./posts/*.mdx");
---

<Layout title={pageTitle}>
  <main class="mt-10 md:mt-20">
    <h1 class="text-4xl md:text-5xl font-bold font-opensans">Blog</h1>
    <p class="text-neutral-400 text-lg md:text-xl mt-5">
      For some reason most of great developers have blog. I am not one of them
      but why not? I will try to update the posts and write more when I have
      more time.
    </p>
    <ul class="mt-5 md:mt-10">
      {
        posts.map((post) => (
          <li class="mb-10">
            <a href={post.url}>
              <div class="hover:bg-neutral-800 rounded-lg py-5">
                <h3 class="px-3 font-bold text-lg md:text-xl text-teal-500">
                  {post.frontmatter.title}
                </h3>
                <p class="px-3 text-neutral-400 mt-2 md:text-lg">
                  {post.frontmatter.description}
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
