---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Projects";
export const projects = [
  {
    name: "Cryptosito",
    description:
      "Website about cryptocurrencies built with API from coingecko",
    link: "https://github.com/Infiplaya/cryptosito",
  },
  {
    name: "Coolest Anime Character",
    description: "Inspired by roundest - to answer who is coolest!",
    link: "https://github.com/Infiplaya/coolestchar",
  },
  {
    name: "Grab A Food",
    description:
      "Culinary website that will help you find right recipe for you",
    link: "https://github.com/Infiplaya/grabafood",
  },
  {
    name: "E-commerce website",
    description: "Built with graphql and nextjs simple e-commerce website",
    link: "https://github.com/Infiplaya/recrutation-task-graphql",
  },
  {
    name: "Lost Knight",
    description: "Demo of the platformer game created with LUA framework LÖVE",
    link: "https://github.com/Infiplaya/lostknight",
  },
  {
    name: "Astro portfolio",
    description: "You are looking at it right now! New version of portfolio built with astro",
    link: "https://github.com/Infiplaya/astro-portfolio",
  },
  {
    name: "Old Next portfolio",
    description: "The old version of portfolio built with NextJS",
    link: "https://github.com/Infiplaya/portfolio",
  },
  {
    name: "Remix blog",
    description: "The old version of blog built with Remix",
    link: "https://github.com/Infiplaya/remix-blog",
  },
  {
    name: "Pokedex",
    description: "Playing with stores using NextJS and pokemons",
    link: "https://github.com/Infiplaya/pokemons-next13-oldpages",
  },
  {
    name: "Quizgame",
    description: "Trivia quiz built in clean React",
    link: "https://github.com/Infiplaya/quizgame",
  },
  {
    name: "TVShows",
    description: "TV Shows recommendation web app created with Flask",
    link: "https://github.com/Infiplaya/recommendtvshow",
  },
];
---

<Layout title={pageTitle}>
  <main class="mt-10 md:mt-20">
    <h1 class="text-4xl md:text-5xl font-bold font-opensans antialiased">Stuff</h1>
    <ul class="md:grid md:grid-cols-2 md:gap-10 md:space-y-0 space-y-10 mt-10">
      {
        projects.map((project) => (
          <li>
            <ProjectCard
              name={project.name}
              description={project.description}
              link={project.link}
            />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
