---
import Navlink from "./Navlink.astro";
---


<nav class="mt-5 md:mt-10 text-lg space-x-3 flex flex-row align-middle items-center">
  <Navlink href="/">Home</Navlink>
  <Navlink href="/projects">Projects</Navlink>
  <Navlink href="/blog">Blog</Navlink>
  <Navlink href="/about">About</Navlink>

</nav>

<style>
  a {
    @apply hover:bg-neutral-800 px-2 py-1 rounded-lg;
  }
</style>
