---
const { href, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  rel="prefetch"
  class={`${
    isActive ? "text-neutral-100 font-semibold" : "text-neutral-400"
  } hover:bg-neutral-800 px-2 py-1 rounded-lg`}
  {...props}
>
  <slot />
</a>